In [1]:
import pandas as pd

In [2]:
#get the first sheet name to turn into a dataframe - this will be for transplants from deceased donors. 
sheet_name = 'Figures C1-C2 - Living'

c12_excel_files = ['1506_KI.XLS', '1512_KI.XLS', '1606_KI.XLS', '1701_KI.xls', '1707_KI.xls', '1711_KI.xls',
                  '1808_KI.xls', '1811_KI.xls', '1905_KI.xls', '1911_KI.xls', '2006_KI.xls', '2011_KI.xls',
                  '2105_KI.xls', '2111_KI.xls', '2205_KI.xls', '2211_KI.xls']

In [3]:
#import all the excel sheets from Figures C1-C2 - Living as dataframes. 


df_1506_c1c27l = pd.read_excel('kidney/1506_KI.XLS', sheet_name=sheet_name)
df_1512_c1c27l = pd.read_excel('kidney/1512_KI.XLS', sheet_name=sheet_name)
df_1606_c1c27l = pd.read_excel('kidney/1606_KI.XLS', sheet_name=sheet_name)
df_1701_c1c27l = pd.read_excel('kidney/1701_KI.xls', sheet_name=sheet_name)
df_1707_c1c27l = pd.read_excel('kidney/1707_KI.xls', sheet_name=sheet_name)
df_1711_c1c27l = pd.read_excel('kidney/1711_KI.xls', sheet_name=sheet_name)
df_1808_c1c27l = pd.read_excel('kidney/1808_KI.xls', sheet_name=sheet_name)
df_1811_c1c27l = pd.read_excel('kidney/1811_KI.xls', sheet_name=sheet_name)
df_1905_c1c27l = pd.read_excel('kidney/1905_KI.xls', sheet_name=sheet_name)
df_1911_c1c27l = pd.read_excel('kidney/1911_KI.xls', sheet_name=sheet_name)
df_2006_c1c27l = pd.read_excel('kidney/2006_KI.xls', sheet_name=sheet_name)
df_2011_c1c27l = pd.read_excel('kidney/2011_KI.xls', sheet_name=sheet_name)
df_2105_c1c27l = pd.read_excel('kidney/2105_KI.xls', sheet_name=sheet_name)
df_2111_c1c27l = pd.read_excel('kidney/2111_KI.xls', sheet_name=sheet_name)
df_2205_c1c27l = pd.read_excel('kidney/2205_KI.xls', sheet_name=sheet_name)
df_2211_c1c27l = pd.read_excel('kidney/2211_KI.xls', sheet_name=sheet_name)

In [4]:
#get Table 7 excel files
sheet_name = 'Table 7 - Living'

tb7_excel_files = ['1207_KI.XLS', '1301_KI.XLS', '1307_KI.XLS', '1401_KI.XLS', '1406_KI.XLS', '1412_KI.XLS']

df_1207_c1c27l = pd.read_excel('kidney/1207_KI.XLS', sheet_name=sheet_name)
df_1301_c1c27l = pd.read_excel('kidney/1301_KI.XLS', sheet_name=sheet_name)
df_1307_c1c27l = pd.read_excel('kidney/1307_KI.XLS', sheet_name=sheet_name)
df_1401_c1c27l = pd.read_excel('kidney/1401_KI.XLS', sheet_name=sheet_name)
df_1406_c1c27l = pd.read_excel('kidney/1406_KI.XLS', sheet_name=sheet_name)
df_1412_c1c27l = pd.read_excel('kidney/1412_KI.XLS', sheet_name=sheet_name)

In [5]:
%whos

Variable          Type         Data/Info
----------------------------------------
c12_excel_files   list         n=16
df_1207_c1c27l    DataFrame                             <...>n[228 rows x 176 columns]
df_1301_c1c27l    DataFrame                             <...>n[227 rows x 176 columns]
df_1307_c1c27l    DataFrame                             <...>n[228 rows x 176 columns]
df_1401_c1c27l    DataFrame                             <...>n[225 rows x 176 columns]
df_1406_c1c27l    DataFrame                             <...>n[225 rows x 176 columns]
df_1412_c1c27l    DataFrame                             <...>n[222 rows x 176 columns]
df_1506_c1c27l    DataFrame                             <...>n[224 rows x 176 columns]
df_1512_c1c27l    DataFrame                             <...>n[221 rows x 176 columns]
df_1606_c1c27l    DataFrame                             <...>n[225 rows x 176 columns]
df_1701_c1c27l    DataFrame                             <...>n[228 rows x 176 columns]
df_1707_c1c27l    DataFrame                             <...>n[227 rows x 176 columns]
df_1711_c1c27l    DataFrame                             <...>n[224 rows x 176 columns]
df_1808_c1c27l    DataFrame                             <...>n[227 rows x 176 columns]
df_1811_c1c27l    DataFrame                             <...>n[227 rows x 176 columns]
df_1905_c1c27l    DataFrame                             <...>n[228 rows x 176 columns]
df_1911_c1c27l    DataFrame                             <...>n[229 rows x 180 columns]
df_2006_c1c27l    DataFrame                             <...>n[220 rows x 180 columns]
df_2011_c1c27l    DataFrame                             <...>n[217 rows x 180 columns]
df_2105_c1c27l    DataFrame                             <...>n[213 rows x 180 columns]
df_2111_c1c27l    DataFrame                             <...>n[212 rows x 180 columns]
df_2205_c1c27l    DataFrame                             <...>n[212 rows x 180 columns]
df_2211_c1c27l    DataFrame                             <...>n[221 rows x 180 columns]
pd                module       <module 'pandas' from '/U<...>ages/pandas/__init__.py'>
sheet_name        str          Table 7 - Living
tb7_excel_files   list         n=6

In [6]:
# df_1207_c1c27l
# df_1301_c1c27l
# df_1307_c1c27l
# df_1401_c1c27l
# df_1406_c1c27l
# df_1412_c1c27l
# df_1506_c1c27l
# df_1512_c1c27l
# df_1606_c1c27l
# df_1701_c1c27l
# df_1707_c1c27l
# df_1711_c1c27l
# df_1808_c1c27l
# df_1811_c1c27l
# df_1905_c1c27l
# df_1911_c1c27l
# df_2006_c1c27l
# df_2011_c1c27l
# df_2105_c1c27l
# df_2111_c1c27l
# df_2205_c1c27l
# df_2211_c1c27l

In [7]:
#create a list of dataframes from sheet Figures C1-C2 - Living or Table 7 - Living which is: C1C27L
c1c27l_df_list = [df_1506_c1c27l, df_1512_c1c27l, df_1606_c1c27l, df_1701_c1c27l, df_1707_c1c27l, 
                  df_1711_c1c27l, df_1808_c1c27l, df_1811_c1c27l, df_1905_c1c27l, df_1911_c1c27l,
                  df_2006_c1c27l, df_2011_c1c27l, df_2105_c1c27l, df_2111_c1c27l, df_2205_c1c27l,
                  df_2211_c1c27l, df_1207_c1c27l, df_1301_c1c27l, df_1307_c1c27l, df_1401_c1c27l,
                  df_1406_c1c27l, df_1412_c1c27l]

In [8]:
#remove leading whitespace from columns from dataframes
df_1207_c1c27l.columns = df_1207_c1c27l.columns.str.strip()
df_1301_c1c27l.columns = df_1301_c1c27l.columns.str.strip()
df_1307_c1c27l.columns = df_1307_c1c27l.columns.str.strip()
df_1401_c1c27l.columns = df_1401_c1c27l.columns.str.strip()
df_1406_c1c27l.columns = df_1406_c1c27l.columns.str.strip()
df_1412_c1c27l.columns = df_1412_c1c27l.columns.str.strip()
df_1506_c1c27l.columns = df_1506_c1c27l.columns.str.strip()
df_1512_c1c27l.columns = df_1512_c1c27l.columns.str.strip()
df_1606_c1c27l.columns = df_1606_c1c27l.columns.str.strip()

In [9]:
#this list of columns to keep
col_keep_l = ['ENTIRE_NAME', 'CTR_CD', 'CTR_TY', 'RELEASE_DATE', 'ORG', 'RCL_A10_C', 'RCL_A17_C', 
              'RCL_A2_C', 'RCL_A34_C', 'RCL_A49_C', 'RCL_A64_C', 'RCL_A65P_C', 'RCL_AU_C', 'RCL_BAB_C', 
              'RCL_BA_C', 'RCL_BB_C','RCL_BO_C', 'RCL_BMI20_C', 'RCL_BMI25_C', 'RCL_BMI30_C', 'RCL_BMI31P_C', 
              'RCL_BMINR_C', 'RCL_BU_C', 'RCL_GF_C', 'RCL_GM_C', 'RCL_GU_C', 'RCL_ICU_C', 'RCL_HOSPNR_C', 
              'RCL_HOSP_C', 'RCL_PTXN_C', 'RCL_PTXU_C', 'RCL_PTXY_C','RCL_NOTHOSP_C', 'RCL_N_C', 'YEAR', 'MONTH', 
              'D_OR_L']

In [10]:
print(len(col_keep_l))

37

In [11]:
#remove white space from column names
col_keep_strip_l = [s.lstrip() for s in col_keep_l]

In [12]:
#create a dataframes list that need the aggregation for combing age group data
agg_df_list_l = [df_1911_c1c27l, df_2006_c1c27l, df_2011_c1c27l, df_2105_c1c27l, df_2111_c1c27l, 
          df_2205_c1c27l, df_2211_c1c27l]

column_a69_l = 'RCL_A69_C'
column_a70_l = 'RCL_A70P_C'
column_a65_l = 'RCL_A65P_C'

for df in agg_df_list_l:
    #add them together
    df[column_a65_l] = df[column_a69_l] + df[column_a70_l]
    print(df[column_a65_l][0])

14.705882353
12.5
20.6896551721
24.999999999899998
15.909090909100001
20.0
31.3725490192

In [13]:
#create a dataframes list that need the aggregation for combing age group data
agg_df_list_bmi = [df_1911_c1c27l, df_2006_c1c27l, df_2011_c1c27l, df_2105_c1c27l, df_2111_c1c27l, 
          df_2205_c1c27l, df_2211_c1c27l]

#take columns RCC_BMI35_C + RCC_BMI40_C + RCC_BMI41P_C = RCC_BMI31P_C
#This is for BMI greater than 35, 40 and 41 and combining them to be greater than 31 BMI

column_bmi35_l = 'RCL_BMI35_C'
column_bmi40_l = 'RCL_BMI40_C'
column_bmi41_l = 'RCL_BMI41P_C'
column_bmi31_l = 'RCL_BMI31P_C'

for df in agg_df_list_bmi:

    #add them together
    df[column_bmi31_l] = df[column_bmi35_l] + df[column_bmi40_l] + df[column_bmi41_l]
    print(df[column_bmi31_l][0])

20.5882352938
40.0
37.931034482
24.9999999998
29.5454545462
32.0
35.2941176474

In [14]:
#add Unknown Age column and set it to zero
agg_df_list_au = [df_1911_c1c27l, df_2006_c1c27l, df_2011_c1c27l, df_2105_c1c27l, df_2111_c1c27l, 
          df_2205_c1c27l, df_2211_c1c27l]
for df in agg_df_list_au:
    df['RCL_AU_C'] = 0

In [15]:
col_keep_strip_l

['ENTIRE_NAME',
 'CTR_CD',
 'CTR_TY',
 'RELEASE_DATE',
 'ORG',
 'RCL_A10_C',
 'RCL_A17_C',
 'RCL_A2_C',
 'RCL_A34_C',
 'RCL_A49_C',
 'RCL_A64_C',
 'RCL_A65P_C',
 'RCL_AU_C',
 'RCL_BAB_C',
 'RCL_BA_C',
 'RCL_BB_C',
 'RCL_BO_C',
 'RCL_BMI20_C',
 'RCL_BMI25_C',
 'RCL_BMI30_C',
 'RCL_BMI31P_C',
 'RCL_BMINR_C',
 'RCL_BU_C',
 'RCL_GF_C',
 'RCL_GM_C',
 'RCL_GU_C',
 'RCL_ICU_C',
 'RCL_HOSPNR_C',
 'RCL_HOSP_C',
 'RCL_PTXN_C',
 'RCL_PTXU_C',
 'RCL_PTXY_C',
 'RCL_NOTHOSP_C',
 'RCL_N_C',
 'YEAR',
 'MONTH',
 'D_OR_L']

In [16]:
#only keep the columns in the list for each dataframe
df_1207_c1c27l = df_1207_c1c27l[col_keep_strip_l]
df_1301_c1c27l = df_1301_c1c27l[col_keep_strip_l]
df_1307_c1c27l = df_1307_c1c27l[col_keep_strip_l]
df_1401_c1c27l = df_1401_c1c27l[col_keep_strip_l]
df_1406_c1c27l = df_1406_c1c27l[col_keep_strip_l]
df_1412_c1c27l = df_1412_c1c27l[col_keep_strip_l]
df_1506_c1c27l = df_1506_c1c27l[col_keep_strip_l]
df_1512_c1c27l = df_1512_c1c27l[col_keep_strip_l]
df_1606_c1c27l = df_1606_c1c27l[col_keep_strip_l]
df_1701_c1c27l = df_1701_c1c27l[col_keep_strip_l]
df_1707_c1c27l = df_1707_c1c27l[col_keep_strip_l]
df_1711_c1c27l = df_1711_c1c27l[col_keep_strip_l]
df_1808_c1c27l = df_1808_c1c27l[col_keep_strip_l]
df_1811_c1c27l = df_1811_c1c27l[col_keep_strip_l]
df_1905_c1c27l = df_1905_c1c27l[col_keep_strip_l]
df_1911_c1c27l = df_1911_c1c27l[col_keep_strip_l]
df_2006_c1c27l = df_2006_c1c27l[col_keep_strip_l]
df_2011_c1c27l = df_2011_c1c27l[col_keep_strip_l]
df_2105_c1c27l = df_2105_c1c27l[col_keep_strip_l]
df_2111_c1c27l = df_2111_c1c27l[col_keep_strip_l]
df_2205_c1c27l = df_2205_c1c27l[col_keep_strip_l]
df_2211_c1c27l = df_2211_c1c27l[col_keep_strip_l]

In [17]:
#create a new dataframe list
new_df_list_l = [df_1207_c1c27l,
df_1301_c1c27l,
df_1307_c1c27l,
df_1401_c1c27l,
df_1406_c1c27l,
df_1412_c1c27l,
df_1506_c1c27l,
df_1512_c1c27l,
df_1606_c1c27l,
df_1701_c1c27l,
df_1707_c1c27l,
df_1711_c1c27l,
df_1808_c1c27l,
df_1811_c1c27l,
df_1905_c1c27l,
df_1911_c1c27l,
df_2006_c1c27l,
df_2011_c1c27l,
df_2105_c1c27l,
df_2111_c1c27l,
df_2205_c1c27l,
df_2211_c1c27l]

In [18]:
print(len(df_1905_c1c27l.columns))

37

In [19]:
#concatenate all the dataframes and create one dataframe
df_c1c27l_concat = pd.concat(new_df_list_l)

In [21]:
df_c1c27l_concat

,ENTIRE_NAME,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCL_A10_C,RCL_A17_C,RCL_A2_C,RCL_A34_C,RCL_A49_C,...,RCL_HOSPNR_C,RCL_HOSP_C,RCL_PTXN_C,RCL_PTXU_C,RCL_PTXY_C,RCL_NOTHOSP_C,RCL_N_C,YEAR,MONTH,D_OR_L
0,University of Alabama Hospital (ALUA),ALUA,TX1,2012/07/13,Kidney,2.800000,2.8,1.9,14.200000,29.200000,...,0.9,0.0,85.800000,0.0,14.200000,98.1,106,2012.0,7.0,LIVING
1,Baptist Medical Center (ARBH),ARBH,TX1,2012/07/13,Kidney,0.000000,0.0,0.0,20.000000,20.000000,...,0.0,0.0,80.000000,0.0,20.000000,100.0,5,2012.0,7.0,LIVING
2,Arkansas Children's Hospital (ARCH),ARCH,TX1,2012/07/13,Kidney,0.000000,100.0,0.0,0.000000,0.000000,...,0.0,0.0,100.000000,0.0,0.000000,100.0,1,2012.0,7.0,LIVING
3,UAMS Medical Center (ARUA),ARUA,TX1,2012/07/13,Kidney,0.000000,0.0,0.0,33.300000,0.000000,...,0.0,0.0,100.000000,0.0,0.000000,100.0,9,2012.0,7.0,LIVING
4,Phoenix Children's Hospital (AZCH),AZCH,TX1,2012/07/13,Kidney,0.000000,66.7,33.3,0.000000,0.000000,...,0.0,33.3,100.000000,0.0,0.000000,66.7,3,2012.0,7.0,LIVING
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,University of Virginia Health Sciences Center ...,VAUV,TX1,2023-01-05 18:00:00,KI,3.571429,0.0,0.0,10.714286,25.000000,...,100.0,0.0,89.285714,0.0,10.714286,0.0,28,2022.0,11.0,LIVING
217,NaN,ILVA,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,0.000000,0.000000,...,100.0,0.0,100.000000,0.0,0.000000,0.0,1,2022.0,11.0,LIVING
218,NaN,PARH,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,100.000000,0.000000,...,100.0,0.0,100.000000,0.0,0.000000,0.0,1,2022.0,11.0,LIVING
219,NaN,SCPG,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,0.000000,25.000000,...,100.0,0.0,75.000000,0.0,25.000000,0.0,4,2022.0,11.0,LIVING
220,NaN,TXDS,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,16.666667,33.333333,...,100.0,0.0,100.000000,0.0,0.000000,0.0,6,2022.0,11.0,LIVING

In [22]:
#send this concatenated dataframe to a csv
df_c1c27l_concat.to_csv('output/kidney_C1-C2-T7-D_liv.csv')

In [23]:
#read in the other csv created from the kidney deceased donor concatenated dataframes
df_c1c27d_concat = pd.read_csv('output/kidney_C1-C2-T7-D.csv')

In [35]:
#drop the Unnamed column
new_df = df_c1c27d_concat.drop(['Unnamed: 0'], axis=1)

In [60]:
print(len(new_df.columns))

37

In [55]:
#rename the columns of the living donor transplant dataframe to match the deceased donor transplant dataframe
df_c1c27l_concat.rename(columns={'RCL_A10_C': 'RCC_A10_C', 'RCL_A17_C': 'RCC_A17_C', 'RCL_A2_C': 'RCC_A2_C', 
                                   'RCL_A34_C': 'RCC_A34_C', 'RCL_A49_C': 'RCC_A49_C', 'RCL_A64_C': 'RCC_A64_C',
                                   'RCL_A65P_C': 'RCC_A65P_C', 'RCL_AU_C': 'RCC_AU_C', 'RCL_BAB_C': 'RCC_BAB_C', 
                                   'RCL_BA_C': 'RCC_BA_C', 'RCL_BB_C': 'RCC_BB_C','RCL_BO_C': 'RCC_BO_C', 
                                   'RCL_BMI20_C': 'RCC_BMI20_C', 'RCL_BMI25_C': 'RCC_BMI25_C', 
                                   'RCL_BMI30_C': 'RCC_BMI30_C', 'RCL_BMI31P_C': 'RCC_BMI31P_C',
                                   'RCL_BMINR_C': 'RCC_BMINR_C', 'RCL_BU_C': 'RCC_BU_C', 'RCL_GF_C': 'RCC_GF_C', 
                                   'RCL_GM_C': 'RCC_GM_C', 'RCL_GU_C': 'RCC_GU_C', 'RCL_ICU_C': 'RCC_ICU_C', 
                                   'RCL_HOSPNR_C': 'RCC_HOSPNR_C', 'RCL_HOSP_C': 'RCC_HOSP_C', 
                                   'RCL_PTXN_C': 'RCC_PTXN_C', 'RCL_PTXU_C': 'RCC_PTXU_C', 
                                   'RCL_PTXY_C': 'RCC_PTXY_C', 'RCL_NOTHOSP_C': 'RCC_NOTHOSP_C', 
                                   'RCL_N_C': 'RCC_N_C'}, inplace=True)

In [68]:
df_c1c27l_concat.columns

Index(['ENTIRE_NAME', 'CTR_CD', 'CTR_TY', 'RELEASE_DATE', 'ORG', 'RCC_A10_C',
       'RCC_A17_C', 'RCC_A2_C', 'RCC_A34_C', 'RCC_A49_C', 'RCC_A64_C',
       'RCC_A65P_C', 'RCC_AU_C', 'RCC_BAB_C', 'RCC_BA_C', 'RCC_BB_C',
       'RCC_BO_C', 'RCC_BMI20_C', 'RCC_BMI25_C', 'RCC_BMI30_C', 'RCC_BMI31P_C',
       'RCC_BMINR_C', 'RCC_BU_C', 'RCC_GF_C', 'RCC_GM_C', 'RCC_GU_C',
       'RCC_ICU_C', 'RCC_HOSPNR_C', 'RCC_HOSP_C', 'RCC_PTXN_C', 'RCC_PTXU_C',
       'RCC_PTXY_C', 'RCC_NOTHOSP_C', 'RCC_N_C', 'YEAR', 'MONTH', 'D_OR_L'],
      dtype='object')

In [69]:
#concatenate the two dataframes with living and deceased donor transplant data
kidney_concat_df = [new_df, df_c1c27l_concat]
kidney_concat = pd.concat(kidney_concat_df)

In [70]:
kidney_concat

,ENTIRE_NAME,CTR_CD,CTR_TY,RELEASE_DATE,ORG,RCC_A10_C,RCC_A17_C,RCC_A2_C,RCC_A34_C,RCC_A49_C,...,RCC_HOSPNR_C,RCC_HOSP_C,RCC_PTXN_C,RCC_PTXU_C,RCC_PTXY_C,RCC_NOTHOSP_C,RCC_N_C,YEAR,MONTH,D_OR_L
0,Children's of Alabama (ALCH),ALCH,TX1,2015/06/16,Kidney,20.000000,53.3,6.7,20.000000,0.000000,...,0.0,6.7,93.300000,0.0,6.700000,93.3,15,2015.0,6.0,DECEASED
1,University of Alabama Hospital (ALUA),ALUA,TX1,2015/06/16,Kidney,0.000000,0.0,0.0,11.300000,25.800000,...,0.0,0.8,84.700000,0.0,15.300000,97.6,124,2015.0,6.0,DECEASED
2,Baptist Medical Center (ARBH),ARBH,TX1,2015/06/16,Kidney,0.000000,0.0,0.0,0.000000,42.900000,...,0.0,19.0,95.200000,0.0,4.800000,81.0,21,2015.0,6.0,DECEASED
3,Arkansas Children's Hospital (ARCH),ARCH,TX1,2015/06/16,Kidney,66.700000,33.3,0.0,0.000000,0.000000,...,0.0,0.0,83.300000,0.0,16.700000,100.0,6,2015.0,6.0,DECEASED
4,UAMS Medical Center (ARUA),ARUA,TX1,2015/06/16,Kidney,0.000000,0.0,0.0,30.000000,26.700000,...,0.0,0.0,90.000000,0.0,10.000000,100.0,30,2015.0,6.0,DECEASED
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
216,University of Virginia Health Sciences Center ...,VAUV,TX1,2023-01-05 18:00:00,KI,3.571429,0.0,0.0,10.714286,25.000000,...,100.0,0.0,89.285714,0.0,10.714286,0.0,28,2022.0,11.0,LIVING
217,NaN,ILVA,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,0.000000,0.000000,...,100.0,0.0,100.000000,0.0,0.000000,0.0,1,2022.0,11.0,LIVING
218,NaN,PARH,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,100.000000,0.000000,...,100.0,0.0,100.000000,0.0,0.000000,0.0,1,2022.0,11.0,LIVING
219,NaN,SCPG,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,0.000000,25.000000,...,100.0,0.0,75.000000,0.0,25.000000,0.0,4,2022.0,11.0,LIVING
220,NaN,TXDS,TX1,2023-01-05 18:00:00,KI,0.000000,0.0,0.0,16.666667,33.333333,...,100.0,0.0,100.000000,0.0,0.000000,0.0,6,2022.0,11.0,LIVING

In [71]:
#send the data to a csv
kidney_concat.to_csv('output/kidney_concat.csv')

In [72]:
#column list and order for other transplant data
col_list = ['CTR_CD', 'CTR_TY', 'RELEASE_DATE', 'ORG', 'RCC_A10_C', 'RCC_A17_C', 'RCC_A2_C', 'RCC_A34_C',
            'RCC_A49_C', 'RCC_BAB_C', 'RCC_BA_C', 'RCC_BB_C', 'RCC_BO_C', 'RCC_BMI20_C', 'RCC_BMI25_C',
            'RCC_BMI30_C', 'RCC_BMINR_C', 'RCC_BU_C', 'RCC_GF_C', 'RCC_GM_C', 'RCC_GU_C', 'RCC_ICU_C',
            'RCC_HOSPNR_C', 'RCC_HOSP_C', 'RCC_PTXN_C', 'RCC_PTXU_C', 'RCC_PTXY_C', 'RCC_NOTHOSP_C', 
            'RCC_TST1A_C', 'RCC_TST1A_R', 'RCC_TST1B_C', 'RCC_TST2_C', 'RCC_TST2_R', 'RCC_TINA_C',
            'RCC_TINA_R', 'RCC_A64_C', 'D_OR_L', 'YEAR', 'MONTH']

In [73]:
kidney_concat.columns

Index(['ENTIRE_NAME', 'CTR_CD', 'CTR_TY', 'RELEASE_DATE', 'ORG', 'RCC_A10_C',
       'RCC_A17_C', 'RCC_A2_C', 'RCC_A34_C', 'RCC_A49_C', 'RCC_A64_C',
       'RCC_A65P_C', 'RCC_AU_C', 'RCC_BAB_C', 'RCC_BA_C', 'RCC_BB_C',
       'RCC_BO_C', 'RCC_BMI20_C', 'RCC_BMI25_C', 'RCC_BMI30_C', 'RCC_BMI31P_C',
       'RCC_BMINR_C', 'RCC_BU_C', 'RCC_GF_C', 'RCC_GM_C', 'RCC_GU_C',
       'RCC_ICU_C', 'RCC_HOSPNR_C', 'RCC_HOSP_C', 'RCC_PTXN_C', 'RCC_PTXU_C',
       'RCC_PTXY_C', 'RCC_NOTHOSP_C', 'RCC_N_C', 'YEAR', 'MONTH', 'D_OR_L'],
      dtype='object')

In [74]:
#new_df = df_c1c27d_concat.drop(['Unnamed: 0'], axis=1)
kidney_concat_final = kidney_concat.drop(['ENTIRE_NAME'], axis=1)

In [ ]:
# Add the following columns and set to zero: 'RCC_TST1A_C', 'RCC_TST1A_R', 'RCC_TST1B_C', 'RCC_TST2_C', 
#'RCC_TST2_R', 'RCC_TINA_C', 'RCC_TINA_R']

kidney_concat_final['RCC_TST1A_C'] = 0

In [ ]:
# df.rename = rename(columns={'RCL_A10_C': 'RCC_A10_C', 'RCL_A17_C': 'RCC_A17_C', 'RCL_A2_C': 'RCC_A2_C', 
#                             'RCL_A34_C': 'RCC_A34_C', 'RCL_A49_C': 'RCC_A49_C',
#                             'RCL_A65P_C': 'RCC_A65P_C', 'RCL_AU_C': 'RCC_AU_C', 'RCL_BAB_C': 'RCC_BAB_C', 
#                             'RCL_BA_C': 'RCC_BA_C', 'RCL_BB_C': 'RCC_BB_C', 'RCL_BO_C': 'RCC_BO_C', 
#                             'RCL_BMI20_C': 'RCC_BMI20_C', 'RCL_BMI25_C': 'RCC_BMI25_C', 'RCL_BMI30_C': 'RCC_BMI30_C', 
#                             'RCL_BMI31P_C': 'RCC_BMI31P_C', 'RCL_BMINR_C': 'RCC_BMINR_C', 
#                             'RCL_BU_C': 'RCC_BU_C', 'RCL_GF_C': 'RCC_GF_C', 'RCL_GM_C': 'RCC_GM_C', 
#                             'RCL_GU_C': 'RCC_GU_C', 'RCL_ICU_C': 'RCC_ICU_C', 'RCL_HOSPNR_C': 'RCC_HOSPNR_C', 
#                             'RCL_HOSP_C': 'RCC_HOSP_C', 'RCL_PTXN_C': 'RCC_PTXN_C', 'RCL_PTXU_C': 'RCC_PTXU_C', 
#                             'RCL_PTXY_C': 'RCC_PTXY_C', 'RCCL_NOTHOSP_C': 'RCC_NOTHOSP_C', 'RCL_TST1_C': 'RCC_TST1_C', 
#                             'RCL_TST1_R': 'RCC_TST1_R', 'RCL_TST1A_C': 'RCC_TST1A_C', 'RCL_TST1A_R': 'RCC_TST1A_R', 
#                             'RCL_TST1B_C': 'RCC_TST1B_C', 'RCL_TST1B_R': 'RCC_TST1B_R', 'RCL_TST2_C': 'RCC_TST2_C', 
#                             'RCL_TST2_R': 'RCC_TST2_R', 'RCL_TST2A_C': 'RCC_TST2A_C', 'RCL_TST2A_R': 'RCC_TST2A_R', 
#                             'RCL_TST2B_C': 'RCC_TST2B_C', 'RCL_TST2B_R': 'RCC_TST2B_R', 'RCL_TST3_C': 'RCC_TST3_C', 
#                             'RCL_TST3_R': 'RCC_TST3_R', 'RCL_ME11_C': 'RCC_ME11_C', 'RCL_ME11_R': 'RCC_ME11_R', 
#                             'RCL_ME15_C': 'RCC_ME15_C', 'RCL_ME15_R': 'RCC_ME15_R', 'RCL_ME21_C': 'RCC_ME21_C', 
#                             'RCL_ME21_R': 'RCC_ME21_R', 'RCL_ME31_C': 'RCC_ME31_C', 'RCL_ME31_R': 'RCC_ME31_R',
#                             'RCL_ME6_C': 'RCC_ME6_C', 'RCL_ME6_R': 'RCC_ME6_R', 'RCL_PE6_C': 'RCC_PE6_C', 
#                             'RCL_PE6_R': 'RCC_PE6_R', 'RCL_PE11_C': 'RCC_PE11_C', 'RCL_PE11_R': 'RCC_PE11_R', 
#                             'RCL_PE15_C': 'RCC_PE15_C', 'RCL_PE15_R': 'RCC_PE15_R', 'RCL_PE21_C': 'RCC_PE21_C', 
#                             'RCL_PE21_R': 'RCC_PE21_R', 'RCL_PE31_C': 'RCC_PE31_C', 'RCL_PE31_R': 'RCC_PE31_R', 
#                             'RCL_TINA_C': 'RCC_TINA_C', 'RCL_TINA_R': 'RCC_TINA_R', 'RCL_N_C': 'RCC_N_C',})