In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Read excel file with sheet name
kidney_df_20 = pd.read_excel("Resources/Kaplan-Meier Patient_Graft Survival Data_Clean.xlsx", 
                   sheet_name=['20 Year'])

kidney_df_20 = kidney_df_20.get('20 Year')
# Display the first 10 rows of the DataFrame
kidney_df_20.head(10)

,Transplant Year,Organ,Age Group,N,Graft Survival Rate [95% CI],Patient Survival Rate [95% CI]
0,1988,Heart/Lung,1-5 Years,1,*,*
1,1988,Heart/Lung,11-17 Years,6,*,*
2,1988,Heart/Lung,18-34,31,*,*
3,1988,Heart/Lung,35-49,26,*,*
4,1988,Heart/Lung,50-64,6,*,*
5,1988,Heart/Lung,6-10 Years,3,*,*
6,1988,Heart,<1 Year,34,*,*
7,1988,Heart,1-5 Years,19,*,*
8,1988,Heart,11-17 Years,41,*,*
9,1988,Heart,18-34,182,"29.68 [22.75, 36.91]","37.97 [30.24, 45.65]"

In [5]:
# Filter data to only show kidney data
kidney_df_20 = kidney_df_20[kidney_df_20['Organ'] == 'Kidney']

# Display the filtered DataFrame
kidney_df_20.head()

,Transplant Year,Organ,Age Group,N,Graft Survival Rate [95% CI],Patient Survival Rate [95% CI]
17,1988,Kidney,<1 Year,7,*,*
18,1988,Kidney,1-5 Years,81,"23.93 [14.68, 34.45]","71.55 [57.50, 81.67]"
19,1988,Kidney,11-17 Years,271,"19.41 [14.08, 25.38]","66.35 [56.65, 74.37]"
20,1988,Kidney,18-34,2076,"24.23 [22.06, 26.46]","50.51 [47.75, 53.21]"
21,1988,Kidney,35-49,2579,"17.21 [15.43, 19.07]","27.50 [25.52, 29.52]"

In [6]:
column_values = kidney_df_20['Transplant Year'].unique()
print(column_values)

[1988 1989 1990 1991 1992 1993 1994 1995 1996 1997 1998 1999 2000 2001
 2002]

In [7]:
def remove_square_brackets(text):
    import re
    return re.sub(r'\[.*?\]', '', text)

# Columns to remove brackets from
columns_to_modify = ['Graft Survival Rate [95% CI]', 'Patient Survival Rate [95% CI]']

# Apply the function to the desired columns in kidney_df
kidney_df_20[columns_to_modify] = kidney_df_20[columns_to_modify].applymap(remove_square_brackets)

# Print the modified DataFrame
kidney_df_20.head()

,Transplant Year,Organ,Age Group,N,Graft Survival Rate [95% CI],Patient Survival Rate [95% CI]
17,1988,Kidney,<1 Year,7,*,*
18,1988,Kidney,1-5 Years,81,23.93,71.55
19,1988,Kidney,11-17 Years,271,19.41,66.35
20,1988,Kidney,18-34,2076,24.23,50.51
21,1988,Kidney,35-49,2579,17.21,27.50

In [8]:
def is_number(value):
    try:
        float(value)
        return True
    except ValueError:
        return False

# List of column names to check for asterisks
columns_to_check = ['Graft Survival Rate [95% CI]', 'Patient Survival Rate [95% CI]']

# Boolean indexing to filter out rows with asterisks in the specified columns
for column in columns_to_check:
    kidney_df_20 = kidney_df_20[kidney_df_20[column].apply(is_number)]

# Print the modified DataFrame
kidney_df_20

,Transplant Year,Organ,Age Group,N,Graft Survival Rate [95% CI],Patient Survival Rate [95% CI]
18,1988,Kidney,1-5 Years,81,23.93,71.55
19,1988,Kidney,11-17 Years,271,19.41,66.35
20,1988,Kidney,18-34,2076,24.23,50.51
21,1988,Kidney,35-49,2579,17.21,27.50
22,1988,Kidney,50-64,1654,10.71,10.48
...,...,...,...,...,...,...
711,2002,Kidney,18-34,2100,28.68,58.70
712,2002,Kidney,35-49,3885,28.19,35.59
713,2002,Kidney,50-64,4697,15.39,13.12
714,2002,Kidney,6-10 Years,146,25.11,72.87
715,2002,Kidney,65+,1459,3.81,2.38

In [9]:
# Export to clean Excel file
kidney_df_20.to_excel('Resources/cleaned_kidney_data_20.xlsx', index=False)